
body {font-family: Helvetica, sans-serif; background-color: #097036}

#topo{position: relative; width: 100%; height: 185px;}

#logo{position: absolute; margin-left: 480px; margin-top: -25px;}

#painelTitulo{position: absolute; width: 101%; margin-left: -12px; margin-top: 50px; height: 100px; background-color: #E2E2E2; border: 2px #07582A solid; border-bottom: 30px #07582A solid}

#titulo{position: absolute; margin-left: 600px; color: #07582A; font-size: 40px; line-height: 1px;}

#subtitulo{position: absolute; margin-left: 625px; color: #07582A; font-size: 14px; margin-top: 54px;}

negrito{font-weight: bolder}

#conteudo{position: relative; width: 700px; height: 800px; left: 50%; margin-left: -350px; background-color: #07582A;}

#destaque{position: relative; width: 660px; height: 300px; left:  20px; top: 20px;  background-color: #E2E2E2; border: 2px #07582A solid;}

#lista{position: relative; left: 50%; margin-left: -111px; top: 50px;}

.textoLista{color: white; font-size: 24px; font-variant: small-caps}

#rodape{background-color: #07582A ; border: 2px #07582A solid; border-top: 1px solid #E2E2E2; width: 101%; margin-left: -12px; height: 50px; margin-top: 30px; margin-bottom: -80px}
